table {
  height: 100%;
}
:host {
  display: grid;
  height: 100%;
}

.mat-table{
  overflow: auto;
}

.mat-row {
  background-color: #E0EEE9;
}

.mat-header-row {
  background-color:#6AB095
}